<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ cliente.nome }}</cliente></title>
</head>
<body>

    <h1>Fulano da Silva</h1>
    /<table border="1">
        <tr>
            <td>Nome:</td>
            <td>{{ cliente.nome}}</td>
        </tr>

        <tr>
            <td>Data de Nascimento:</td>
            <td>{{ cliente.data_nascimento|date:"d/m/Y" }}</td>
        <tr>
            <td>Endereçco:</td>
            <td>{{ cliente.endereco }}, {{ cliente.numero }}, {{ cliente.bairro }}, {{cliente.cidade}}, Av. Marechal Tito 1500 - São Miguel Paulista</td>
        </tr>    
        <tr>

        <tr>
            <td>cep:</td>
            <td>{{ cliente.cep }}</td>
        </tr>

            <td>cpf:</td>
            <td>{{ cliente.cpf }}</td>
        <tr>
            <td>email:</td>
            <td> {{ cliente.email }}</td>
        <tr>
            <td>matricula:</td>
            <td>{{ cliente.matricula }}</td>
        <tr>
            <td>renda_mensal:</td>
            <td>{{ cliente.renda_mensal }}</td>
        <tr>
            <td>ativo</td>
            <td>{{ cliente.ativo }}</td>
        <tr>
            <td>estado_civil:</td>
            <td>{{ clinte.get_estado_civil_display }}</td>
        <tr>
            <td>Profissão:</td>
            <td>{{ cliente.profissao }}</td>
        <tr>
            <td>interesses:</td>
            <td>{{ cliente.interesses.all|join:"," }}</td>
        </tr>
        </tr>
       

    </table>
    
</body>
</html>